
       <!-- <style>
          .error {color: red;}
        </style>-->
    {% extends "base.html" %}

    {% block content %}
   
        <h1>Sign up for Alexbook!</h1>
            <form method='POST'>
              <table>
                <tr>
                  <td> <label>Username:</td>
                  <td> <input name="usr_name" type="text" value='{{hours}}' /></label></td>
                </tr>
                <tr>
                  <td> <label>Password:</td>
                  <td> <input name="pas_word" type="password" value='{{hours}}' /> </label> </td>
                </tr> 
                <tr>
                  <td> <label>Verify Password: </td>
                  <td> <input name="ver_word" type="password" value='{{hours}}' /> </td>
                 </label>
                </tr>
                <tr> 
                  <td> <label>Email Address: </td>
                  <td> <input name="e_mail" type="test" value='{{hours}}' /> </td>
                 </label>
                </tr>
                <tr>
                  <td> <input type="submit" value="Sign Up" /> </td>
                </tr>
            </table>
            </form>

            {% endblock %}